<p>
  form1 works!
  响应式表单
</p>
<br>

<form action="" [formGroup]="formModel" (submit)="onSubmit()">
  <input type="text" formControlName="username">
  <div formGroupName="dateRange">
    起始日期<input type="date"  formControlName="from">
    截止日期<input type="date"  formControlName="to">
  </div>
  <div>
    <ul  formArrayName="emails">
      <li *ngFor="let item of this.formModel.get('emails').controls; let i = index">
        <input type="text" [formControlName]="i" />
      </li>
    </ul>
    <button type="button" (click)="addEmail()"> 增加email</button>
  </div>
  <div>
    <button type="submit" >提交</button>
  </div>
</form>

